# Catalogue Wordpress
wp-emlo-catalogues/wp-catalogues/wp-config.php
wp-emlo-catalogues/wp-catalogues/wp-content/uploads/*

# Baxter Omeka
omk-baxter/db.ini

# SW Omeka
omk-sw/db.ini

# WEMLO Omeka
omk-wemlo/db.ini

/mysql-emlo/data/*
/vol-mysql/
