# Catalogue Wordpress
wp-emlo-catalogues/wp-catalogues/wp-config.php
wp-emlo-catalogues/wp-catalogues/wp-content/uploads/*

# Baxter Omeka
omk-baxter/html/db.ini

# SW Omeka
omk-sw/html/db.ini

# WEMLO Omeka
omk-wemlo/html/db.ini

# MySQL
/mysql-emlo/data/*
/vol-mysql/
